<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="assets/images/logo/logoWhite.webp" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <title>TutorMatch</title>
  </head>
  <body>
    <!--Navbar-->
    <header class="header">
        
        <a href="" class="logo">
          <img src="assets/images/logo/logoWhite.webp" alt="Logo" class="img-logo">
        </a>
          <input type="checkbox" id="check">
         <label for="check" class="icons">
           <span class="material-symbols-outlined" id="menu-icon">menu</span>
           <span class="material-symbols-outlined" id="close-icon">close</span>
         </label>
         <nav class="navbar">
           <a href=" " style="--i:0;" class="label-a" id="home">Inicio</a>
           <a href=" " style="--i:1;" class="label-a" id="about">Acerca de nosotros</a>
           <a href=" " style="--i:2;" class="label-a" id="price">Precios</a>
           <a href=" " style="--i:3;" class="label-a" id="contact">Contacto</a>
           <a style="--i:4;" class="btn-lang" id="lang-toggle">EN</a>
           <a href="https://gray-coast-08a7f0a1e.5.azurestaticapps.net/Register" style="--i:4;" class="label-a" id="INSCRIBIRME">INSCRIBIRME</a>
         </nav>
         
    </header>
    <!--End Navbar-->
    <!--Hero Section-->
    <section class="hero">
        <div class="banner" style="background-image: url(assets/images/complements/fondo_landing.webp)">
            <div class="containerH row">
                <div class="boxH col2">
                    <h1 id="titleBanner">Mejora tus habilidades en programación</h1>
                    <p id="txtBanner">Contamos con destacados tutores que te enseñarán todo lo que necesitas para potenciar tus conocimientos.</p>
                    <div>
                        <a href="https://gray-coast-08a7f0a1e.5.azurestaticapps.net/Register" class="btnBanner">INSCRIBIRME</a>
                    </div>
                </div>
                <div class="boxH col1-md-5 col12">
                    <img class="tutorImg" src="assets/images/logo/logoWhite.webp" alt="TutorMatch Logo" style="width: 20rem;">
                </div>
            </div>
        </div>
        <!-- Video Section -->
        <section id="videoSection" class="videos">
            <h2 class="section-title" id="discover">Discover TutorMatch</h2>
                <div class="videos-container">
                    <!-- Video About the Product -->
                    <div class="video-box">
                        <iframe 
                          width="560" 
                          height="315" 
                          src="https://www.youtube.com/embed/5KSjEA8jqo8" 
                          title="Video About the Product" 
                          frameborder="0" 
                          allow="autoplay; encrypted-media" 
                          allowfullscreen>
                        </iframe>
                    </div>
                </div>
        </section>
        <div class="membership-banner-container">
            <section class="membership-banner-price">
                <div class="containerP">
                    <div class="boxP-Title">
                        <h3>Membresías</h3>
                        <p>
                            Para Tutores
                        </p>
                    </div>
                    <div class="boxP">
                        <h3>Plan Básico</h3>
                        <div class="price">
                            <span class="material-symbols-outlined">paid</span>
                            <span>$ 1.99</span>
                        </div>
                        <a href="" class="details" id="basic">Ver detalles <span class="material-symbols-outlined icon">arrow_forward_ios</span></a>
                    </div>
        
                    <div class="boxP">
                        <h3>Plan Estándar</h3>
                        <div class="price">
                            <span class="material-symbols-outlined">paid</span>
                            <span>$ 4.99</span>
                        </div>
                        <a href="" class="details" id="standard">Ver detalles <span class="material-symbols-outlined icon">arrow_forward_ios</span></a>
                    </div>
        
                    <div class="boxP">
                        <h3>Plan Premium</h3>
                        <div class="price">
                            <span class="material-symbols-outlined">paid</span>
                            <span>$ 9.99</span>
                        </div>
                        <a href="" class="details" id="premium">Ver detalles <span class="material-symbols-outlined icon">arrow_forward_ios</span></a>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!--End Hero Section-->
    <!--About Section-->
    <section class="about">
        <div class="background-about" style="background-image: url(assets/images/complements/fondo_landing.webp)">
            <div class="about-container">
                <div class="about-box">
                    <img src="assets/images/complements/phone.webp" alt="About Image" width="200">
                </div>
                <div class="about-box">
                    <p>Una plataforma que permite a los estudiantes encontrar tutores capacitados que puedan ayudarlos en cursos de su carrera, organizados por ciclo y especialidad. TutorMatch facilita la conexión entre estudiantes, optimizando el proceso de aprendizaje y ayudando a mejorar el rendimiento académico en materias clave.</p>
                </div>          
            </div>
            <div class="about-container">
                <div class="about-container" >
                    <div class="about-box" >
                        <h2>
                            <span style="color:white">Estudiantes con </span>
                            <span style="color: #000000;"> dificultades academicas</span>
                    
                        </h2>
                        
                        <p>
                            Este segmento abarca a estudiantes de Ingeniería de Software de la UPC que enfrentan dificultades en cursos específicos y buscan apoyo adicional para mejorar su comprensión y rendimiento académico. Estos estudiantes pueden tener diversas necesidades, como refuerzos en conceptos técnicos, orientación en proyectos o preparación para exámenes. TutorMatch les proporciona una plataforma accesible donde pueden encontrar tutores especializados por ciclo y materia, lo que les permite mejorar su desempeño de manera focalizada y efectiva.</p>
                    </div>
                    <div class="about-box">
                        <img src="assets/images/complements/cube.webp" alt="About Image" width="200">
                    </div> 
                </div>
            </div>
            <div class="about-container">
                <div class="about-box">
                    <img src="assets/images/complements/mac.webp" alt="About Image" width="200">
                </div>
                <div class="about-box">
                    <h2>
                        <span style="color:white">Estudiantes con </span>
                        <span style="color: #000000;"> habilidades destacadas</span>
                    </h2>
                    
                    <p>
                        Son estudiantes con un dominio sólido en ciertas áreas de la Ingeniería de Software que desean compartir sus conocimientos con otros estudiantes a través de tutorías. TutorMatch les ofrece la oportunidad de obtener experiencia docente, mejorar su currículum y, en algunos casos, generar ingresos. Esto beneficia desde un enfoque de crecimiento personal y profesional al refinar sus habilidades de comunicación, enseñanza y liderazgo. </p>
                </div>          
            </div>
        </div>    
    </section>
    <!-- Video Section -->
    <section id="videoSection" class="videos">
        <!-- Video About the Team -->
        <div class="videos-container">
            <div class="video-box">
                <h3 id="about-title">About Us</h3>
                <iframe 
                  width="700" 
                  height="700" 
                  src="https://www.youtube.com/embed/3uy713v3xp8" 
                  title="Video About the Team" 
                  frameborder="0" 
                  allow="autoplay; encrypted-media" 
                  allowfullscreen>
                </iframe>
            </div>
        </div>
    </section>
    <!--End About Section-->
    <!--Memberships Section-->
    <section class="membership">
        <div class="membership-back">
            <h2>Membresías para Tutores</h2>
            <div class="containerM">
                <div class="boxM basic">
                    <div class="membership-card">
                        <img class="imga1" src="assets/images/complements/personitas.webp" alt="Basic Membership" width="100" />
                        <h3>Plan Básico</h3>
                        <li>Acceso a estudiantes interesados.</li>
                        <li>Historial de tutorías.</li>
                        <li>
                            Soporte con respuesta en <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;48 horas.
                        </li>
                    </div>
                </div>
                <div class="boxM standard">
                    <div class="membership-card">
                        <img class="imga2" src="assets/images/complements/cabeza.webp" alt="Basic Membership" width="100"/>
                        <h3>Plan Estándar</h3>
                        <li>Todo en el plan básico.</li>
                        <li>Recomendaciones <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;personalizadas para <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;estudiantes.</li>
                        <li>Visibilidad mejorada en las <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;búsquedas.</li>
                        <li>Soporte con respuesta en <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24 horas.</li>
                        <li>Acceso a herramientas de <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; gestión de tutorías, como:</li>
                        <li>Calendarios avanzados</li>
                        <li>Recordatorios <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; automáticos</li>
                    </div>
                </div>
                <div class="boxM premium">
                    <div class="membership-card">
                        <img class="imga3" src="assets/images/complements/pcmundo.webp" alt="Premium Membership" width="100"/>
                        <h3>Plan Premium</h3>
                        <li>Todo en el plan estándar.</li>
                        <li>Perfil destacado con mayor <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; exposición en la plataforma. </li>
                        <li>Acceso a estadísticas <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; avanzadas sobre el <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; rendimiento de las tutorías.</li>
                        <li>Promociones y descuentos <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; en anuncios dentro de la <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; plataforma.</li>
                        <li>Soporte prioritario con <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; respuesta en 12 horas.</li>
                        <li>Acceso a eventos exclusivos <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; y oportunidades de <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; desarrollo profesional.</li>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Memberships Section-->
    <!--Contact Section-->
    <section class="contact">
        <div class="contenedor">
          <h2 class="titulo">Contáctanos</h2>
          <p class="parrafo">Comunícate con nosotros utilizando el formulario de contacto a continuación. Esperamos con ansias escucharte y ayudarte con tus necesidades.</p>
          <form @submit.prevent="submitForm" class="form">
            <input type="text" id="name" v-model="formData.name" required class="input" placeholder="Ingrese Nombre">
            <input type="email" id="email" v-model="formData.email" required class="input" placeholder="Ingrese Email">
            <textarea id="message" v-model="formData.message" required class="input" placeholder="Ingrese Mensaje"></textarea>
            <button type="submit" class="input">Enviar</button>
          </form>
        </div>
      </section>
    <!--End Contact Section-->
    <!--Footer Section-->
    <section class="footer">
        <div class="footer-container">
          <img alt="logo" src="assets/images/logo/logoWhite.webp" style="width: 8rem">
          <br><br>
          <img alt="redes" src="assets/images/complements/redes.webp">
          <small style="padding-top: 20px">
            <br><br>Copyright &copy; 2024 - TutorMatch - SkillSwap Inc.
          </small>
        </div>
    </section>
    <!--End Footer Section-->
    <script type="module" src="assets/js/main.js"></script>
  </body>
</html>
